* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }
    
    main {
    flex: 1;
    }

/* cabeçalho*/
.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
    padding-left: 0; 
    border-bottom: 1px solid #f1f1f1;
}
.forma {
    width: 300px;
    height: 100px;
    background-color: #006633;
    border-radius: 0px 50px 50px 0px;
    margin-left: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-left: 0; 
}

h1{
    color: #006633;
    font-size: 40pt;
}

.menu {
    position: relative;
    display: inline-block;
}
.menu button {
    background-color: #006633;
    border: 1px solid #ccc;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 12pt;
    border-radius: 25px;
}
.menu-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px #e7dddd;
    z-index: 1;
    border-radius: 25px;
    
}
.menu-content a {
    color: #006633;
    padding: 16px 10px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #dee7dd;
    background-color: transparent;
}

.menu-content a:last-child {
    border-bottom: none; 
}

.menu-content a:hover {
    background-color: #dee7dd;
    border-radius: 25px;
    
}

.menu:hover .menu-content {
    display: block;
}

.menu .arrow {
    margin-left: 10px;
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/* cabeçalho*/


/* corpo */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.icon-button {
    background-color: transparent;
    border: none;
    padding: 7px;
    cursor: pointer;
    display: inline-block;
    margin: 25px; /* ajusta a margem ENTRE os botoes */
    margin-top: 70px; /* ajusta a altura dos botoes */
    transition: transform 0.2s;
    height: auto;
    white-space: normal;
}


.icon-button img {
    width: 74px;
    height: 74px;
}

.icon-button.esaude {
    background: linear-gradient(to bottom, #ffffff, #e7e8e9);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px #dbe0e0;
}

.icon-button.pae {
    background: linear-gradient(to bottom, #006633, #08a054);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px #dbe0e0;
}

.icon-button.intranet {
    background: linear-gradient(to bottom, #ffffff, #e7e8e9);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px #dbe0e0;
}

.icon-button.iasep {
    background: linear-gradient(to bottom, #ffffff, #e7e8e9);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px #dbe0e0;
}

.icon-button.opme {
    background: linear-gradient(to bottom, #ffffff, #e7e8e9);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px #dbe0e0;
}

.icon-button.sga {
    background: linear-gradient(to bottom, #ffffff, #e7e8e9);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px #dbe0e0;
}

.icon-button.cenci {
    background: linear-gradient(to bottom, #ffffff, #e7e8e9);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px #dbe0e0;
}

.icon-button.email {
    background: linear-gradient(to bottom, #006633, #08a054);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px #dbe0e0;
}

.icon-button.seplad {
    background: linear-gradient(to bottom, #186AB4, #186AB4);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px #dbe0e0;
}

.icon-button.servidor {
    background: linear-gradient(to bottom, #ffffff, #e7e8e9);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px #dbe0e0;
}
.icon-button.banpara {
    background: linear-gradient(to bottom, #ffffff, #e7e8e9);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px #dbe0e0;
}
.icon-button.ioed {
    background: linear-gradient(to bottom, #ffffff, #e7e8e9);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px #dbe0e0;
}

.icon-button.siafe {
    background: linear-gradient(to bottom, #ffffff, #e7e8e9);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px #dbe0e0;
}

.icon-button:hover {
    border-radius: 10px;
    transform: scale(1.15);
}

.square-container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.square {
    width: 350px;
    height: 350px;
}

.square1, .square2, .square3 {
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    border: 1px solid #DBDBDB;
    border-radius: 12px;
    color: #006633;
}
/*corpo*/

/*notícias*/
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card {
    width: 325px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(128, 128, 128, 0.685);
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.card-content h3 {
    color: #186AB4;
    font-size: 20px;
    margin-bottom: 8px;
    flex-shrink: 0;
}

.card-content p {
    color: #000000;
    font-size: 15px;
    line-height: 1;
    flex-grow: 1;
}

.card-content .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #006633;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
    align-self: flex-start;
}

footer {
    background-color: #024626;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 1.5em;
}
